@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

:root {
  --primary: #000000;
  --secondary: #ffffff;
  --link1: #494949;
  --link2: rgb(153, 153, 153);
  --modalbg: #050505;
}

[data-theme="light"] {
  --primary: #fff;
  --secondary: #000;
  --link2: #494949;
  --link1: rgb(153, 153, 153);
  --modalbg: rgb(185, 185, 185);
}


body {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin: 0;
    padding: 0;
    background-color: var(--primary);
    color: var(--secondary);
    transition: color 1s;
    display: none;
}

.section {
    transition: background-color 1s;
    background-color: var(--primary);
}

#pp-nav .pp-tooltip{
	color: var(--secondary);
    transition: color 1s;
}

#pp-nav .li {
    color: var(--secondary);
    border-color: var(--secondary);
    transition: color 1s;
    transition: border-color 1s;
}

#pp-nav span, .pp-slidesNav  {
    border-color: var(--secondary) !important;
    transition: border-color 1s;
}

#pp-nav a.active span, .pp-slidesNav  {
    color: var(--secondary) !important;
    transition: color 1s;
}

#pp-nav li .active span, .pp-slidesNav .active span {
  background: var(--secondary) !important;
transition: background 1s;

}

.title {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
}

.txt-lite {
    font-weight: 200;
}

.links a {
    color: var(--link1);
    transition: 0.5s;
    padding-right: 1px;
    padding-left: 1px;
}

.links a:hover {
    color: var(--secondary);
    text-decoration: none;
}

.links {
    padding-top: 5px;
}

.padding15 {
    padding-top: 15px;
}

.padding150 {
    padding-top: 150px;
}

.paddding40 {
    padding-top: 40;
}

.centre {
    margin: auto;
    width: 100%;
    padding: 10px;
}

.imgMidContained {
    margin-top: 25px;
    margin-left: 25px;
    width: 200px;
    height: 200px;
}

.imgMid {
    width: 200px;
    border-radius: 100%;
    --webkit-user-drag: none;
}

.info {
    text-align: left;
    position: relative;
}

p {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

button {
    border: 0;
    color: var(--secondary);
    transition: color 1s;
}

.linkee {
    color: var(--link2);
}

.linkee:hover {
    color: var(--secondary);
    transition: 0.5s;
}

.spotify_np {
    color: var(--secondary) !important;
    transition: color 1s;
}

button {
    color: var(--secondary) !important;
    background-color: var(--primary) !important;
    transition: color 1s;
    transition: background-color 1s;
}

.btn:disabled,
.btn.disabled,
fieldset:disabled .btn {
    pointer-events: none;
    opacity: 0.65;
}

.btn-primary {
    color: var(--secondary) !important;
    background-color: var(--primary) !important;
    border-color: var(--secondary) !important;
    transition: color 1s;
    transition: background-color 1s;
    transition: border-color 1s;
}

.btn-primary:hover {
    color: var(--primary) !important;
    background-color: var(--secondary) !important;
    border-color: var(--secondary) !important;
}

.card {
    background-color: var(--primary) !important;
    border-color: var(--primary) !important;
    transition: background-color 1s;
    transition: border-color 1s;
}

.sun, .moon {
    font-size: 2rem;
    width: fit-content;
    height: fit-content;
}

.moon {
    position: absolute;
    inset: 0;
}

.moon-logo{
    opacity: 0;
    transform: rotateZ(50deg);
    transition: all 1s ease-out;
}

.sun-logo{
    opacity: 1;
    transform: rotateZ(0deg);
    transition: all 1s ease-out;
}

.animate-sun{
    opacity: 0;
    transform: rotateZ(100deg);
    color: var(--secondary) !important;
}

.animate-moon{
    opacity: 1;
    transform: translateY(0%) rotateZ(0deg);
    color: var(--secondary) !important;
}

.spotify-modal {
    width: 600px;
    height: 300px;
    background: var(--modalbg);
    top: 50%;
    left: 50%;
    position: absolute;
    z-index: 10;
    margin: -150px 0 0 -300px;
    border-radius: 25px;
    opacity: 0;
}

.active {
    opacity: 1;
    transition: opacity 1s; 
}

.transition-opacity {
    opacity: 0;
    transition: opacity 1s;
}