@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

:root {
  --primary: #000000;
  --secondary: #ffffff;
  --link1: #494949;
  --link2: rgb(153, 153, 153);
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin: 0;
    padding: 0;
    background-color: var(--primary);
    color: var(--secondary);
}

.title {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
}

.txt-lite {
    font-weight: 200;
}

.links a {
    color: var(--link1);
    transition: 0.5s;
    padding-right: 1px;
    padding-left: 1px;
}

.links a:hover {
    color: var(--secondary);
    text-decoration: none;
}

.links {
    padding-top: 5px;
}

.padding15 {
    padding-top: 15px;
}

.padding150 {
    padding-top: 150px;
}

.paddding40 {
    padding-top: 40;
}

.centre {
    margin: auto;
    width: 100%;
    padding: 10px;
}

.imgMidContained {
    margin-top: 25px;
    margin-left: 25px;
    width: 200px;
    height: 200px;
}

.imgMid {
    width: 200px;
    border-radius: 100%;
    --webkit-user-drag: none;
}

.info {
    text-align: left;
    position: relative;
}

p {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

button {
    background-color: var(--primary);
    border: 0;
    color: #fff;
}

.linkee {
    color: var(--link2);
}

.linkee:hover {
    color: var(--secondary);
    transition: 0.5s;
}
